* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #fcd232;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
p {
  margin-bottom: 0.5rem;
}

.myContainer-fluid {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header */

.header {
  background: #fcd232;
  padding: 1.25rem;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
  flex-wrap: nowrap;
  border-bottom: transparent;
  box-shadow: 0.06rem 0.19rem 0.313rem 0.313rem rgba(0, 0, 0, 0.1);
}

.img-logo {
  width: 3.125rem;
  height: 3.125rem;
}

.menu li {
  color: black;
  padding: 0 0.625rem;
  transition: 0.4s;
  margin-top: 0.625rem;
  font-weight: 500;
  list-style-type: none;
}

ul.menu {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 2.5rem;
}
a {
  color: black;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: none;
}

.customBtn {
  background-color: #ff1300;
  border: 0.063rem solid #ff1300;
  border-radius: 0.313rem;
  color: white;
  padding: 0.438rem 0.938rem;
}
.customBtn .customBtn-margin {
  margin-top: 1.938rem;
  padding: 0.313rem 0;
}

.show-menu-btn,
.hide-menu-btn {
  transition: 0.4s;
  font-size: 1.875;
  cursor: pointer;
  display: none;
}
.show-menu-btn {
  margin-left: auto;
}
.show-menu-btn i {
  line-height: 6.25rem;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: #042a63;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/* Filters */

.filter-button {
  font-size: 1.125rem;
  background-color: #2f2e37;
  text-align: center;
  color: white;
  margin-bottom: 1.875rem;
  border-radius: none;
  font-weight: bold;
  border-right: 0.063rem solid grey;
  width: 33.3333%;
  border-radius: 0;
}
.filter-button.btn {
  padding-right: 1rem;
}
.filter-button:focus {
  background-color: #eb3b3b;
  color: #2f2e37;
  border-top: none;
  border-bottom: none;
}

.filter-button:focus span i {
  visibility: visible;
}

.filter-button span i {
  visibility: hidden;
}
.btn:focus {
  box-shadow: none;
}
.btn:hover {
  background-color: #eb3b3b;
  color: #2f2e37;
}
.filter-button span {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1.563rem;
}
.filter-button span p {
  width: 80%;
  float: left;
  margin: 0;
  font-size: 0.938rem;
}

.fa-positioning {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  align-items: center;
  top: 50%;
  font-size: 1.563rem;
}

/* Main Picture/Section */

.hero-picture {
  height: 60vh;
  background-image: url("./imgs/hero-picture.jpg");
  background-size: cover;
}
.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.intro-content {
  color: white;
}

.main-heading {
  text-align: center;
}

/* Cards */

.myCard {
  border-radius: 0.7rem;
}

.myImg {
  height: 10.625rem;
  overflow: hidden;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.grow {
  transition: all 0.5s ease-in-out;
}
.grow:hover {
  transform: scale(1.03);
  cursor: pointer;
  z-index: 3;
}

.card-heading {
  display: inline-block;
  padding: 0.188rem 0.938rem;
  margin-bottom: 0.313rem;
  font-size: 0.75rem;
}

.card-heading-marketing {
  background-color: orangered;
}
.card-heading-design {
  background-color: green;
}
.card-heading-programming {
  background-color: rgb(83, 83, 221);
}

.card-heading-design p,
.card-heading-marketing p,
.card-heading-programming p {
  margin-bottom: 0;
}
.myCard-text {
  font-size: 1.125rem;
  line-height: 1.1;
}
.card-content {
  font-size: 0.813rem;
  line-height: 1.3;
}

.card-heading p {
  margin-bottom: 0;
}
.card-width {
  width: 18rem;
}

.card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

.myBtn-card {
  float: right;
  background-color: #ff1300;
  border: 0.063rem solid #ff1300;
  color: white;
  padding: 0.313rem 0.938rem;
  line-height: 1.4;
  font-size: 0.938rem;
  margin-top: 2.5rem;
}
.card-body a:hover {
  text-decoration: none;
  color: black;
}
.position-center {
  display: flex;
  justify-content: center;
}

.btnAll {
  display: none;
}
small {
  font-size: 60%;
}

#loadMore {
  padding-bottom: 1.875rem;
  padding-top: 1.875rem;
  text-align: center;
  width: 100%;
}
#loadMore a {
  background: #faa635;
  border-radius: 0.188rem;
  color: white;
  display: inline-block;
  padding: 0.625rem 1.875rem;
  transition: all 0.25s ease-out;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}
#loadMore a:hover {
  background-color: #042a63;
}

/* Footer */

.footer {
  background-color: #2f2e37;
  color: white;
  width: auto;
  margin-top: auto;
  padding: 0.625rem 0;
}
.footer p {
  margin-bottom: 0;
}

/* Form */

.form-padding {
  padding: 6.25rem 0;
}
.h1-font {
  font-size: 3.75rem;
}
.padding-top {
  padding-top: 6.25rem;
}

.visibility-hidden {
  margin-bottom: 0.625rem;
  visibility: hidden;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
.custom-select {
  background: url("imgs/chevron-down.png") no-repeat right 0.9rem center/20px;
  background-color: white;
  height: calc(2.3em + 0.75rem + 2px);
}

.custom-select-1 {
  background: url("imgs/chevron-up.png") no-repeat right 0.9rem center/20px;
  background-color: white;
}
.was-validated .custom-select:valid {
  background: url("imgs/chevron-down.png") no-repeat right 0.9rem center/20px;
  background-color: white;
}
.was-validated .custom-select:invalid {
  background: url("imgs/chevron-down.png") no-repeat right 0.9rem center/20px;
  background-color: white;
}
.was-validated .custom-select-1:valid {
  background: url("imgs/chevron-up.png") no-repeat right 0.9rem center/20px;
  background-color: white;
}
.was-validated .custom-select-1:invalid {
  background: url("imgs/chevron-up.png") no-repeat right 0.9rem center/20px;
  background-color: white;
}

.form-control {
  height: calc(2.3em + 0.75rem + 2px);
}

.btnForm {
  background-color: #ff1300;
  border: 0.063rem solid #ff1300;
  border-radius: 0.313rem;
  color: white;
  padding: 0.625rem 0.938rem;
  margin-top: 0;
}
.btnForm:hover {
  background-color: #ff1300;
  color: white;
}

@media only screen and (max-width: 2560px) {
  .myBtn {
    display: none;
  }
}

@media only screen and (max-width: 1240px) {
  .header {
    padding: 1.25rem;
  }
  .customBtn {
    padding: 0.188rem 0.563rem;
  }
  .menu li {
    text-align: center;
  }
  .margin-sm {
    margin-bottom: 1.875rem;
  }
  .xs-h3 {
    text-align: left;
  }

  .fb-border {
    border-bottom: 0.063rem solid lightslategray;
    border-right: none;
  }

  .fb-border:nth-last-child() {
    border-bottom: none;
  }

  .card-width {
    width: 75rem;
  }

  .myCard-text {
    font-size: 0.938rem;
  }
  .filter-button span p {
    font-size: 0.813rem;
  }
}
@media only screen and (max-width: 1047px) {
  .customBtn {
    padding: 0.063rem;
  }
}
@media only screen and (max-width: 1020px) {
  ul.menu {
    margin-left: 0.625rem;
  }
  .filter-button span p {
    font-size: 0.688rem;
  }
}
@media only screen and (max-width: 993px) {
  .customBtn {
    padding: 0rem;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0.313rem 1.25rem;
  }

  .show-menu-btn,
  .hide-menu-btn {
    display: block;
  }
  .show-menu-btn {
    margin-left: auto;
  }

  .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background: #333;
    right: -100%;
    top: 0;
    text-align: left;
    padding: 5.625rem 0;
    line-height: 3;
    transition: 0.7s;
    z-index: 1;
  }
  .menu a {
    display: block;
    color: white;
    text-align: left;
  }
  ul.menu {
    display: block;
  }
  .menu a:focus {
    display: block;
    color: white;
    background-color: #2f2e37;
  }
  .hide-menu-btn {
    position: absolute;
    top: 0.313rem;
    right: 1.875rem;
    color: white;
  }
  .hide-xs-button {
    display: none;
  }

  .filter-button {
    margin-bottom: 0;
    text-align: left;
    width: 100%;
  }
  .card-width {
    width: 20rem;
  }
  .grow:hover {
    transform: none;
  }
  .filter-button span p {
    font-size: 0.875rem;
  }

  #chk:checked ~ .menu {
    right: 0;
  }
  .myBtn {
    display: block;
  }
  .margin-sm {
    margin-bottom: 1.875rem;
  }
  .myBtn.d-xs-none {
    margin-top: 1.25rem;
    padding: 0rem 0.313;
  }
  .h1-font {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 469px) {
  .hero-picture {
    height: 35vh;
  }
  .main-heading {
    text-align: left;
  }

  .customBtn-margin {
    margin-top: 9.375rem;
  }
  .card-width {
    max-width: 20rem;
  }

  .card:hover {
    display: none;
  }
  .filter-button {
    font-size: 0.875rem;
  }

  .filter-button span {
    padding: 0;
  }
  .filter-button span p {
    width: 75%;
    float: left;
    margin: 0;
  }
  .fa-positioning {
    width: 10%;
    justify-content: flex-end;
    top: 50%;
  }
  .h1-font {
    font-size: 2.813rem;
  }
  .customBtn-margin {
    margin-top: 9.375rem;
  }
  .p-5 {
    padding: 0 !important;
  }
}
